<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="FtpHost" value="http://image1.ictnews.vn/_Files" />
    <add key="FtpFolder" value="C:\Users\trung\Desktop\ict_tmp\_FILES" />
    <add key="User_ID" value="195" />
    <add key="spiderLogPath" value="logs" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="BackendDB" providerName="System.Data.SqlClient" connectionString="server=.\sqlexpress; database=TGT_Backend; uid=sa; pwd=123; Max Pool Size=500; timeout=0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

</configuration>